[submodule "modules/Delphi-Mocks"]
	path = modules/Delphi-Mocks
	url = git@github.com:dsogari/Delphi-Mocks.git
[submodule "modules/DUnitX"]
	path = modules/DUnitX
	url = git@github.com:dsogari/DUnitX.git
[submodule "modules/FastMM4"]
	path = modules/FastMM4
	url = git@github.com:dsogari/FastMM4.git
[submodule "modules/Delphi-Profile"]
	path = modules/Delphi-Profile
	url = git@github.com:dsogari/Delphi-Profile.git
[submodule "modules/DelphiCodeCoverage"]
	path = modules/DelphiCodeCoverage
	url = git@github.com:dsogari/DelphiCodeCoverage.git
